@model IEnumerable<HMSphere.MVC.ViewModels.PatientsHistoryViewModel>


@* @{
	ViewData["Title"] = "Index";
}
 *@
@{
	ViewData["Title"] = "Patients History";
}

<style>
	.table td, .table th {
		text-align: center;
		vertical-align: middle;
	}

	.btn-view {
		background-color: #2a9fd9;
		color: white;
		border-radius: 20px;
		padding: 5px 15px;
	}

		.btn-view:hover {
			background-color: #17a2b8;
		}
</style>
<div class="container mt-4">
	<div class="d-flex justify-content-between mb-4">
		<h2>Patients History</h2>
	</div>

	<div class="row mb-3">
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Search by Name">
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Search by NSID">
		</div>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Perception by ID">
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Weight</th>
					<th>Height</th>
					<th>Age</th>
					<th>Blood Type</th>
					<th>Phone No</th>
					<th>Last Visit Date</th>
					<th>Medical Report</th>
				</tr>
			</thead>
			<tbody>
				@* @foreach (var patient in Model) *@
				@for(int i=0;i<5;i++)
				{
					<tr>
						@* <td>@patient.FirstName +" "+ @patient.LastName</td>
						<td>@patient.Gender</td>
						<td>@patient.Weight</td>
						<td>@patient.Height</td>
						<td>@patient.CalculateAgeFromNID(patient.NID)</td>
						<td>@patient.Blood</td>
						<td>@patient.PhoneNumber</td>
						<td>@patient.GetLastVisitDate()?.ToShortDateString() ?? "N/A"</td>
						<td>
							<a class="btn btn-info" href="/ViewReport?id=@patient.NID">View</a>
						</td> *@
						<td>Nasser</td>
						<td>Male</td>
						<td>72</td>
						<td>176</td>
						<td>22</td>
						<td>O-</td>
						<td>01062276296</td>
						<td>10-10-2024"</td>
						<td><button class="btn btn-view">View</button></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

