@model IEnumerable<HMSphere.MVC.ViewModels.StaffViewModel>

@{
	ViewData["Title"] = "Staff";
}

<style>
	.table td, .table th {
		text-align: center;
		vertical-align: middle;
	}

	.btn-view {
		background-color: #2a9fd9;
		color: white;
		border-radius: 20px;
		padding: 5px 15px;
	}

		.btn-view:hover {
			background-color: #17a2b8;
		}
</style>

<div class="container mt-4">
	<div class="d-flex justify-content-between mb-4">
		<h2>Staff</h2>
	</div>

	<div class="row mb-3">
		<div class="col-md-3">
			<input type="text" class="form-control" placeholder="Search by Name">
		</div>
		
		<div class="col-md-3">
			<button class="btn btn-primary w-100">Search</button>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Department</th>
					<th>Job Title</th>
					<th>Phone No.</th>
					<th>More</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.FirstName</td>
						<td>@item.LastName</td>
						<td>@item.Department</td>
						<td>@item.JobTitle</td>
						<td>@item.PhoneNumber</td>
						<td>
							<form asp-controller="Admin" asp-action="Staff" asp-route-data="@item.Id" method="get">
								<input type="hidden" name="StaffId" value="@item.Id" />
								@* <button type="submit" class="btn btn-view">View</button> *@
								<button class="btn btn-outline-dark" id="UpdateStaff">
										<a asp-controller="Admin" asp-action="UpdateStaff">View</a>
								</button>
							</form>
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

