@using HMSphere.Domain.Entities;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>HMSphere | @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HMSphere.MVC.styles.css" asp-append-version="true" />
	<style>
		body {
			font-family: 'Poppins', sans-serif;
			background-color: #f8f9fa;
		}

		.sidebar {
			background-color: #FFF;
			min-height: 100vh;
			color: black;
			padding: 20px;
			position: fixed;
			width: 280px;
		}

			.sidebar a {
				color: black;
				font-weight: bold;
				text-decoration: none;
				padding: 10px;
				display: block;
				border-radius: 4px;
				margin-bottom: 10px;
			}

				.sidebar a:hover {
					background-color: #eee;
				}

		.main-content {
			margin-left: 0px;
			padding: 0px;
		}

		.navbar {
			margin-left: 0px;
		}

		.sidebar .profile-section {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		}

		.hospital {
			width: 60px;
			height: 60px;
			margin-right: 10px;
			align-items: center;
		}

		.sidebar .profile-section img {
			border-radius: 50%;
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}

		.sidebar .profile-section div {
			color: black;
		}

	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg p-3" style="background-color: rgba(0, 127, 158, 1);" data-bs-theme="dark">
			<div class="container-fluid">
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item m-0">
							<a class="navbar-brand" asp-area="" asp-controller="" asp-action="">
								<img class="hospital" src="~/images/Hospital.png" alt="Profile Picture" />
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fs-4 fw-bold text-light" asp-area="" asp-controller="" asp-action="">HMSphere</a>
						</li>


					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="main-content">
		<main role="main" class="pb-3">
			<div class="sidebar">
				<div class="profile-section">
					<img src="~/images/profile.png" alt="Profile Picture" />
					<div>
						@{
							var user = await UserManager.GetUserAsync(User);
							var role = user != null ? (await UserManager.GetRolesAsync(user)).FirstOrDefault() : "User";
						}
						<h5>Dr. @user?.FirstName @user?.LastName</h5>
						<span>@role</span>
					</div>
				</div>
				<a href="">Dashboard</a>
				<a href="@Url.Action("Index", "Doctor")">My Account</a>
				<a href="@Url.Action("Patients", "Doctor")">Patient</a>
				<a href="#">About Us</a>
				<a href="#">Support</a>
			</div>
			<div>
				@RenderBody()
			</div>
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - HMSphere.MVC - <a asp-area="" asp-controller="Doctor" asp-action="Index">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
